.banner {
  text-transform: uppercase;
  font-size: 4em;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/banner.jpeg");
  background-position: left;
  background-size: cover;
  padding: 1em 0;
  font-weight: 600;
}
